.particles-container {
  }
  
  .circle-container {
    position: absolute;
    transform: translateY(-10vh);
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  .circle-container .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background: rgba(255, 255, 255, 0.4);
    -webkit-animation: fadein-frames 3000ms infinite, scale-frames 9s infinite;
            animation: fadein-frames 3000ms infinite, scale-frames 9s infinite;
  }
  @-webkit-keyframes fade-frames {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-frames {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes scale-frames {
    0% {
      transform: scale3d(0.4, 0.4, 1);
    }
    50% {
      transform: scale3d(2.2, 2.2, 1);
    }
    100% {
      transform: scale3d(0.4, 0.4, 1);
    }
  }
  @keyframes scale-frames {
    0% {
      transform: scale3d(0.4, 0.4, 1);
    }
    50% {
      transform: scale3d(2.2, 2.2, 1);
    }
    100% {
      transform: scale3d(0.4, 0.4, 1);
    }
  }
  .circle-container:nth-child(1) {
    width: 4px;
    height: 4px;
    -webkit-animation-name: move-frames-1;
            animation-name: move-frames-1;
    -webkit-animation-duration: 23947ms;
            animation-duration: 23947ms;
    -webkit-animation-delay: 5154ms;
            animation-delay: 5154ms;
  }
  @-webkit-keyframes move-frames-1 {
    from {
      transform: translate3d(53vw, 108vh, 0);
    }
    to {
      transform: translate3d(37vw, -113vh, 0);
    }
  }
  @keyframes move-frames-1 {
    from {
      transform: translate3d(53vw, 108vh, 0);
    }
    to {
      transform: translate3d(37vw, -113vh, 0);
    }
  }
  .circle-container:nth-child(1) .circle {
    -webkit-animation-delay: 1128ms;
            animation-delay: 1128ms;
  }
  .circle-container:nth-child(2) {
    width: 17px;
    height: 17px;
    -webkit-animation-name: move-frames-2;
            animation-name: move-frames-2;
    -webkit-animation-duration: 21252ms;
            animation-duration: 21252ms;
    -webkit-animation-delay: 1079ms;
            animation-delay: 1079ms;
  }
  @-webkit-keyframes move-frames-2 {
    from {
      transform: translate3d(62vw, 101vh, 0);
    }
    to {
      transform: translate3d(12vw, -123vh, 0);
    }
  }
  @keyframes move-frames-2 {
    from {
      transform: translate3d(62vw, 101vh, 0);
    }
    to {
      transform: translate3d(12vw, -123vh, 0);
    }
  }
  .circle-container:nth-child(2) .circle {
    -webkit-animation-delay: 2374ms;
            animation-delay: 2374ms;
  }
  .circle-container:nth-child(3) {
    width: 14px;
    height: 14px;
    -webkit-animation-name: move-frames-3;
            animation-name: move-frames-3;
    -webkit-animation-duration: 22167ms;
            animation-duration: 22167ms;
    -webkit-animation-delay: 10271ms;
            animation-delay: 10271ms;
  }
  @-webkit-keyframes move-frames-3 {
    from {
      transform: translate3d(87vw, 105vh, 0);
    }
    to {
      transform: translate3d(36vw, -126vh, 0);
    }
  }
  @keyframes move-frames-3 {
    from {
      transform: translate3d(87vw, 105vh, 0);
    }
    to {
      transform: translate3d(36vw, -126vh, 0);
    }
  }
  .circle-container:nth-child(3) .circle {
    -webkit-animation-delay: 1477ms;
            animation-delay: 1477ms;
  }
  .circle-container:nth-child(4) {
    width: 15px;
    height: 15px;
    -webkit-animation-name: move-frames-4;
            animation-name: move-frames-4;
    -webkit-animation-duration: 22416ms;
            animation-duration: 22416ms;
    -webkit-animation-delay: 8753ms;
            animation-delay: 8753ms;
  }
  @-webkit-keyframes move-frames-4 {
    from {
      transform: translate3d(47vw, 108vh, 0);
    }
    to {
      transform: translate3d(47vw, -115vh, 0);
    }
  }
  @keyframes move-frames-4 {
    from {
      transform: translate3d(47vw, 108vh, 0);
    }
    to {
      transform: translate3d(47vw, -115vh, 0);
    }
  }
  .circle-container:nth-child(4) .circle {
    -webkit-animation-delay: 2932ms;
            animation-delay: 2932ms;
  }
  .circle-container:nth-child(5) {
    width: 11px;
    height: 11px;
    -webkit-animation-name: move-frames-5;
            animation-name: move-frames-5;
    -webkit-animation-duration: 21109ms;
            animation-duration: 21109ms;
    -webkit-animation-delay: 1871ms;
            animation-delay: 1871ms;
  }
  @-webkit-keyframes move-frames-5 {
    from {
      transform: translate3d(69vw, 108vh, 0);
    }
    to {
      transform: translate3d(30vw, -121vh, 0);
    }
  }
  @keyframes move-frames-5 {
    from {
      transform: translate3d(69vw, 108vh, 0);
    }
    to {
      transform: translate3d(30vw, -121vh, 0);
    }
  }
  .circle-container:nth-child(5) .circle {
    -webkit-animation-delay: 2039ms;
            animation-delay: 2039ms;
  }
  .circle-container:nth-child(6) {
    width: 7px;
    height: 7px;
    -webkit-animation-name: move-frames-6;
            animation-name: move-frames-6;
    -webkit-animation-duration: 22166ms;
            animation-duration: 22166ms;
    -webkit-animation-delay: 4086ms;
            animation-delay: 4086ms;
  }
  @-webkit-keyframes move-frames-6 {
    from {
      transform: translate3d(76vw, 109vh, 0);
    }
    to {
      transform: translate3d(40vw, -134vh, 0);
    }
  }
  @keyframes move-frames-6 {
    from {
      transform: translate3d(76vw, 109vh, 0);
    }
    to {
      transform: translate3d(40vw, -134vh, 0);
    }
  }
  .circle-container:nth-child(6) .circle {
    -webkit-animation-delay: 1441ms;
            animation-delay: 1441ms;
  }
  .circle-container:nth-child(7) {
    width: 10px;
    height: 10px;
    -webkit-animation-name: move-frames-7;
            animation-name: move-frames-7;
    -webkit-animation-duration: 20172ms;
            animation-duration: 20172ms;
    -webkit-animation-delay: 5763ms;
            animation-delay: 5763ms;
  }
  @-webkit-keyframes move-frames-7 {
    from {
      transform: translate3d(55vw, 101vh, 0);
    }
    to {
      transform: translate3d(3vw, -119vh, 0);
    }
  }
  @keyframes move-frames-7 {
    from {
      transform: translate3d(55vw, 101vh, 0);
    }
    to {
      transform: translate3d(3vw, -119vh, 0);
    }
  }
  .circle-container:nth-child(7) .circle {
    -webkit-animation-delay: 329ms;
            animation-delay: 329ms;
  }
  .circle-container:nth-child(8) {
    width: 18px;
    height: 18px;
    -webkit-animation-name: move-frames-8;
            animation-name: move-frames-8;
    -webkit-animation-duration: 21767ms;
            animation-duration: 21767ms;
    -webkit-animation-delay: 8310ms;
            animation-delay: 8310ms;
  }
  @-webkit-keyframes move-frames-8 {
    from {
      transform: translate3d(6vw, 110vh, 0);
    }
    to {
      transform: translate3d(27vw, -124vh, 0);
    }
  }
  @keyframes move-frames-8 {
    from {
      transform: translate3d(6vw, 110vh, 0);
    }
    to {
      transform: translate3d(27vw, -124vh, 0);
    }
  }
  .circle-container:nth-child(8) .circle {
    -webkit-animation-delay: 1707ms;
            animation-delay: 1707ms;
  }
  .circle-container:nth-child(9) {
    width: 16px;
    height: 16px;
    -webkit-animation-name: move-frames-9;
            animation-name: move-frames-9;
    -webkit-animation-duration: 22691ms;
            animation-duration: 22691ms;
    -webkit-animation-delay: 1318ms;
            animation-delay: 1318ms;
  }
  @-webkit-keyframes move-frames-9 {
    from {
      transform: translate3d(54vw, 108vh, 0);
    }
    to {
      transform: translate3d(14vw, -115vh, 0);
    }
  }
  @keyframes move-frames-9 {
    from {
      transform: translate3d(54vw, 108vh, 0);
    }
    to {
      transform: translate3d(14vw, -115vh, 0);
    }
  }
  .circle-container:nth-child(9) .circle {
    -webkit-animation-delay: 3541ms;
            animation-delay: 3541ms;
  }
  .circle-container:nth-child(10) {
    width: 12px;
    height: 12px;
    -webkit-animation-name: move-frames-10;
            animation-name: move-frames-10;
    -webkit-animation-duration: 23782ms;
            animation-duration: 23782ms;
    -webkit-animation-delay: 132ms;
            animation-delay: 132ms;
  }
  @-webkit-keyframes move-frames-10 {
    from {
      transform: translate3d(65vw, 102vh, 0);
    }
    to {
      transform: translate3d(100vw, -109vh, 0);
    }
  }
  @keyframes move-frames-10 {
    from {
      transform: translate3d(65vw, 102vh, 0);
    }
    to {
      transform: translate3d(100vw, -109vh, 0);
    }
  }
  .circle-container:nth-child(10) .circle {
    -webkit-animation-delay: 1117ms;
            animation-delay: 1117ms;
  }
  .circle-container:nth-child(11) {
    width: 12px;
    height: 12px;
    -webkit-animation-name: move-frames-11;
            animation-name: move-frames-11;
    -webkit-animation-duration: 20849ms;
            animation-duration: 20849ms;
    -webkit-animation-delay: 2731ms;
            animation-delay: 2731ms;
  }
  @-webkit-keyframes move-frames-11 {
    from {
      transform: translate3d(98vw, 108vh, 0);
    }
    to {
      transform: translate3d(71vw, -132vh, 0);
    }
  }
  @keyframes move-frames-11 {
    from {
      transform: translate3d(98vw, 108vh, 0);
    }
    to {
      transform: translate3d(71vw, -132vh, 0);
    }
  }
  .circle-container:nth-child(11) .circle {
    -webkit-animation-delay: 3886ms;
            animation-delay: 3886ms;
  }
  .circle-container:nth-child(12) {
    width: 10px;
    height: 10px;
    -webkit-animation-name: move-frames-12;
            animation-name: move-frames-12;
    -webkit-animation-duration: 22123ms;
            animation-duration: 22123ms;
    -webkit-animation-delay: 8488ms;
            animation-delay: 8488ms;
  }
  @-webkit-keyframes move-frames-12 {
    from {
      transform: translate3d(78vw, 105vh, 0);
    }
    to {
      transform: translate3d(25vw, -108vh, 0);
    }
  }
  @keyframes move-frames-12 {
    from {
      transform: translate3d(78vw, 105vh, 0);
    }
    to {
      transform: translate3d(25vw, -108vh, 0);
    }
  }
  .circle-container:nth-child(12) .circle {
    -webkit-animation-delay: 2339ms;
            animation-delay: 2339ms;
  }
  .circle-container:nth-child(13) {
    width: 15px;
    height: 15px;
    -webkit-animation-name: move-frames-13;
            animation-name: move-frames-13;
    -webkit-animation-duration: 22059ms;
            animation-duration: 22059ms;
    -webkit-animation-delay: 8512ms;
            animation-delay: 8512ms;
  }
  @-webkit-keyframes move-frames-13 {
    from {
      transform: translate3d(92vw, 103vh, 0);
    }
    to {
      transform: translate3d(24vw, -116vh, 0);
    }
  }
  @keyframes move-frames-13 {
    from {
      transform: translate3d(92vw, 103vh, 0);
    }
    to {
      transform: translate3d(24vw, -116vh, 0);
    }
  }
  .circle-container:nth-child(13) .circle {
    -webkit-animation-delay: 1797ms;
            animation-delay: 1797ms;
  }
  .circle-container:nth-child(14) {
    width: 4px;
    height: 4px;
    -webkit-animation-name: move-frames-14;
            animation-name: move-frames-14;
    -webkit-animation-duration: 21725ms;
            animation-duration: 21725ms;
    -webkit-animation-delay: 9410ms;
            animation-delay: 9410ms;
  }
  @-webkit-keyframes move-frames-14 {
    from {
      transform: translate3d(19vw, 103vh, 0);
    }
    to {
      transform: translate3d(82vw, -126vh, 0);
    }
  }
  @keyframes move-frames-14 {
    from {
      transform: translate3d(19vw, 103vh, 0);
    }
    to {
      transform: translate3d(82vw, -126vh, 0);
    }
  }
  .circle-container:nth-child(14) .circle {
    -webkit-animation-delay: 706ms;
            animation-delay: 706ms;
  }
  .circle-container:nth-child(15) {
    width: 11px;
    height: 11px;
    -webkit-animation-name: move-frames-15;
            animation-name: move-frames-15;
    -webkit-animation-duration: 22633ms;
            animation-duration: 22633ms;
    -webkit-animation-delay: 865ms;
            animation-delay: 865ms;
  }
  @-webkit-keyframes move-frames-15 {
    from {
      transform: translate3d(88vw, 109vh, 0);
    }
    to {
      transform: translate3d(74vw, -120vh, 0);
    }
  }
  @keyframes move-frames-15 {
    from {
      transform: translate3d(88vw, 109vh, 0);
    }
    to {
      transform: translate3d(74vw, -120vh, 0);
    }
  }
  .circle-container:nth-child(15) .circle {
    -webkit-animation-delay: 2229ms;
            animation-delay: 2229ms;
  }