:root {
  --content-bg-color: #4158D0; /* #C850C0 */
}

.container {
  font-family: sans-serif;
}

.title {
  color: navy;
  font-weight: 800;
  margin: 0;
}

.card-container {
}

.card {
  overflow: hidden;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.expanded {
}

.secondary {
  background-color: white;
  height: 2.5rem;
  padding: 0.5rem;
  justify-content: center;
  width: 8rem;
  margin-left: 1rem;
}

.compact {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
}

.expanded .title {
  font-size: 5em;
  color: white;
}

.compact .title {
  font-size: 1.5em;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
